@font-face {
    font-family: "Titillium Web";
    src: local("TitilliumWeb Regular"), local('TitilliumWeb-Regular'),
        url("fonts/TitilliumWeb-Regular.ttf") format("truetype");
}


@font-face {
    font-family: 'TT Supermolot Neue';
    src: local('TT Supermolot Neue Condensed Bold Italic'), local('TT-Supermolot-Neue-Condensed-Bold-Italic'),
        url('fonts/TTSupermolotNeue-CondBoldIt.woff2') format('woff2'),
        url('fonts/TTSupermolotNeue-CondBoldIt.woff') format('woff'),
        url('fonts/TTSupermolotNeue-CondBoldIt.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}


.container2{
  width: auto;
  height: 100vh;
  background: #16192B;
  padding-top: 20%;
  display:table;
  margin:0 auto;
}


#Text{
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: "Titillium Web";
}


.btn{
  display:table;
  margin:0 auto;
  padding-top: 35px;
}

#button-reset {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: "TT Supermolot Neue";
  text-decoration: none;
  color: white;
  border: 2px solid white;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

#button-reset span{
  position: relative;
  z-index: 2;
}

#button-reset:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #FCD842;
  transition: all .35s;
}

#button-reset:hover{
  color: black;
}

#button-reset:hover:after{
  width: 100%;
}

p {
  color:#FCD842;
  padding-top:-20px;
  font-family: "TT Supermolot Neue";
}