@font-face {
    font-family: 'TT Supermolot Neue';
    src: local('TT Supermolot Neue Condensed Bold Italic'), local('TT-Supermolot-Neue-Condensed-Bold-Italic'),
        url('fonts/TTSupermolotNeue-CondBoldIt.woff2') format('woff2'),
        url('fonts/TTSupermolotNeue-CondBoldIt.woff') format('woff'),
        url('fonts/TTSupermolotNeue-CondBoldIt.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;}

#texte{
    color: white;
    font-size: 20px;
    text-align: center;
    padding-bottom: 50px;
}

.buttoncenter{
    position: relative;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-underline: none;
    color: white;
}

.buttonname{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'TT Supermolot Neue';
    font-weight: 700;
    text-transform: uppercase;
}
