@font-face {
    font-family: 'TT Supermolot Neue';
    src: local('TT Supermolot Neue Condensed Bold Italic'), local('TT-Supermolot-Neue-Condensed-Bold-Italic'),
        url('fonts/TTSupermolotNeue-CondBoldIt.woff2') format('woff2'),
        url('fonts/TTSupermolotNeue-CondBoldIt.woff') format('woff'),
        url('fonts/TTSupermolotNeue-CondBoldIt.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

.container{
  width: 900px;
  background: #16192B;
  padding: 130px 10px;
  display:table;
  margin:0 auto;
}
.headerlogin{
  font-size: 30px;
  margin-bottom: 30px;
  font-family: 'TT Supermolot Neue';
  color: #FCD842;
  display: flex;
  justify-content: center;
}
.input-field, form .button{
  margin: 25px 0;
  position: relative;
  height: 50px;
  width: 100%;
}
.input-field input{
  height: 100%;
  width: 100%;
  border: 1px solid white;
  padding-left: 15px;
  outline: none;
  font-size: 19px;
  transition: .4s;
  background: white;
}
input:focus{
  border: 1px solid black;
}
.input-field label, span.show{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.input-field label{
  left: 15px;
  pointer-events: none;
  color: black;
  font-size: 18px;
  transition: .4s;
}
span.show{
  right: 20px;
  color: #111;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  visibility: hidden;
  font-family: 'TT Supermolot Neue';
}
input:valid ~ span.show{
  visibility: visible;
}
input:focus ~ label,
input:valid ~ label{
  transform: translateY(-43px);
  background: transparent;
  font-size: 16px;
  color: white;
}

button:hover{
  background-color: #FCD842;
  color: black;
}

button{
  width: 100%;
  height: 100%;
  background-color: #16192B;
  outline: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  font-family: 'TT Supermolot Neue';
  border: 2px solid white;
  padding: 10px 10px 10px 10px;
  margin-top: 20px;
}

.container .auth{
  font-size: 19px;
  color: grey;
}
.links{
  display: flex;
  cursor: pointer;
}

.links i{
  font-size: 23px;
  line-height: 40px;
  margin-left: -90px;
}
.links span{
  position: absolute;
  font-size: 17px;
  font-weight: bold;
  padding-left: 8px;
  font-family: 'TT Supermolot Neue';
}
.signup{
  margin-top: 10px;
  font-family: 'TT Supermolot Neue';
  color: white;
}
.signup a{
  color: #0055FF;
  text-decoration: none;
}
.signup a:hover{
  text-decoration: underline;
}

article {
  position: relative;
  width: 126px;
  height: 50px;
  margin: 5px;
  float: left;
  border: 2px solid white;
  box-sizing: border-box;
}

article div {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  line-height: 25px;
  transition: .5s ease;
}

article input {
  position: absolute;
  width: 200px;
  height: 50px;
  opacity: 0;
  cursor: pointer;
}

input[type=checkbox]:checked ~ div {
  background-color: #FCD842;
}

input[type=checkbox]:checked ~ div span {
  color: white;
}

.games {
  color: #FCD842;
  padding-bottom: 5px;
  display:table;
  margin: 20px auto 0;
}

article span{
  color: white;
  font-size: 14px;
  text-shadow: 0px 0px 6px black;
  justify-content: center;
  display: flex;
  padding-top: 10px;
}

.error {
  color: red;
  display: flex;
  float: right;
  font-family: "Titillium Web";
}

.gamechoice {
  font-family: "Titillium Web";
  color: #FCD842;
  font-weight: bold;
}

p {
  color:#FCD842;
  padding-top:-20px;
}

#birthdate{
  color: white;
  padding-bottom: 10px;
  padding-right: 10px;
  display:table;
  margin:0 auto;
}

select {
  display: inline-table;
  margin: 0 auto;
  padding: 10px 10px 10px 10px;
  font-family: "TT Supermolot Neue";
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #16192B;
  outline: none;
}

option {
  padding-right: 10px;
  margin-right: 10px;
}

.input-date{
  display:table;
  margin:0 auto;
}

#gamechoice {
  padding-top:10px;
  display:table;
  margin:0 auto;
  color: #FCD842;
}