@font-face {
    font-family: "Titillium Web";
    src: local("TitilliumWeb Regular"), local('TitilliumWeb-Regular'),
        url("fonts/TitilliumWeb-Regular.ttf") format("truetype");

}
@font-face {
    font-family: 'TT Supermolot Neue';
    src: local('TT Supermolot Neue Condensed Bold Italic'), local('TT-Supermolot-Neue-Condensed-Bold-Italic'),
        url('fonts/TTSupermolotNeue-CondBoldIt.woff2') format('woff2'),
        url('fonts/TTSupermolotNeue-CondBoldIt.woff') format('woff'),
        url('fonts/TTSupermolotNeue-CondBoldIt.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
  }


.titre{
    font-style: italic;
    text-align: center;
    color: #FCD842;
    font-size: 100px;
    text-shadow: 2px 2px black;
    padding-bottom:50px;
    font-family: "TT Supermolot Neue";
}

body{

    padding-top: 100px;
    height: 100vh;
    background-image: url("media/background-games.jpg");
    background-repeat:no-repeat;
    background-position:left top;
    background-size:cover;
}


form{
    font-family: "Titillium Web";
    font-size:30px;
    color: White;
    margin-left:40%;

}

input{
    padding-right:20px;
}



button:hover{
  background-color: #FCD842;
  color: black;
}

button{

  background-color: #16192B;
  outline: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  font-family: 'TT Supermolot Neue';
  border: 2px solid white;
  padding: 10px 10px 10px 10px;

}