{% extends 'base.html' %}
{% load static %}

{% block nom %} Games | {% endblock %}

{% block extrahead %}<link rel="stylesheet" href="{% static 'games.css' %}">{% endblock %}

{% block content %}

<article class="Game1">
    <div class="CoteGauche">
        <div class="ImageGames">
            <img src="{% static 'media/LeagueOfLegends.jpg' %}" height="486" width="864"><!-- 45% d'une image 1920*1080 -->
        </div>
    </div>

    <div class="CoteDroit">
        <div class="GamesName">
            <p>LEAGUE OF LEGENDS</p>
        </div>
        <div class="GamesDescription">
            <p>League of Legends est un jeu dans lequel on voit s'affronter deux équipes de 5 joueurs en temps réel dans des parties d'une durée d'environ une demi-heure, chaque équipe occupant et défendant sa propre base sur la carte.</p>
        </div>
        <div class="TheCoaches">
            <p>THE COACHES</p>
        </div>
        <div class="CoachesPicture">
            <img src="{% static 'media/ProfilePic.jpg' %}" height="100" width="100">
        </div>
        <div class="CoachesName">
            <p>"Coach Name"</p>
        </div>
        <div class="CoachesDescription">
            <p>"Coach description"</p>
        </div>
    </div>
</article>

<article class="Game2">
    <div class="CoteGauche">
        <div class="ImageGames">
            <img src="{% static 'media/RocketLeague.jpg' %}" height="486" width="864"><!-- 45% d'une image 1920*1080 -->
        </div>
    </div>

    <div class="CoteDroit">
        <div class="GamesName">
            <p>ROCKET LEAGUE</p>
        </div>
        <div class="GamesDescription">
            <p>Rocket League est un jeu inspiré du football : deux équipes, composées de un à quatre joueurs conduisant des véhicules, s'affrontent au cours d'un match afin de frapper un ballon et de marquer dans le but adverse. Les voitures sont équipées de propulseurs (boost) et peuvent sauter, permettant de jouer le ballon dans les airs.</p>
        </div>
        <div class="TheCoaches">
            <p>THE COACHES</p>
        </div>
        <div class="CoachesPicture">
           <img src="{% static 'media/ProfilePic.jpg' %}" height="100" width="100">
        </div>
        <div class="CoachesName">
            <p>"Coach Name"</p>
        </div>
        <div class="CoachesDescription">
            <p>"Coach description"</p>
        </div>
    </div>
</article>

<article class="Game1">
    <div class="CoteGauche">
        <div class="ImageGames">
            <img src="{% static 'media/Trackmania.jpg' %}" height="486" width="864"> <!-- 45% d'une image 1920*1080 -->
        </div>
    </div>

    <div class="CoteDroit">
        <div class="GamesName">
            <p>TRACKMANIA</p>
        </div>
        <div class="GamesDescription">
            <p>TrackMania est une franchise de jeux de course atypiques typés arcade qui proposent des pistes peu conventionnelles, avec des virages très relevés, des tremplins et des loopings.</p>
        </div>
        <div class="TheCoaches">
            <p>THE COACHES</p>
        </div>
        <div class="CoachesPicture">
            <img src="{% static 'media/ProfilePic.jpg' %}" height="100" width="100">
        </div>
        <div class="CoachesName">
            <p>"Coach Name"</p>
        </div>
        <div class="CoachesDescription">
            <p>"Coach description"</p>
        </div>
    </div>
</article>

<article class="Game2">
    <div class="CoteGauche">
        <div class="ImageGames">
            <img src="{% static 'media/Valorant.jpg' %}" height="486" width="864"> <!-- 45% d'une image 1920*1080 -->
        </div>
    </div>

    <div class="CoteDroit">
        <div class="GamesName">
            <p>VALORANT</p>
        </div>
        <div class="GamesDescription">
            <p>Valorant est un jeu vidéo free-to-play de tir à la première personne en multijoueur développé et édité par Riot Games et sorti le 2 juin 2020.</p>
        </div>
        <div class="TheCoaches">
            <p>THE COACHES</p>
        </div>
        <div class="CoachesPicture">
            <img src="{% static 'media/ProfilePic.jpg' %}" height="100" width="100">
        </div>
        <div class="CoachesName">
            <p>"Coach Name"</p>
        </div>
        <div class="CoachesDescription">
            <p>"Coach description"</p>
        </div>
    </div>
</article>

<article class="Game1">
    <div class="CoteGauche">
        <div class="ImageGames">
            <img src="{% static 'media/Supersmashbros.jpg' %}" height="486" width="864"><!-- 45% d'une image 1920*1080 -->
        </div>
    </div>

    <div class="CoteDroit">
        <div class="GamesName">
            <p>SUPER SMASH BROS ULTIMATE</p>
        </div>
        <div class="GamesDescription">
            <p>Super Smash Bros Ultimate est un jeu qui met en scène des combats entre de nombreux personnages majoritairement issus de l'univers des jeux de la franchise Nintendo.</p>
        </div>
        <div class="TheCoaches">
            <p>THE COACHES</p>
        </div>
        <div class="CoachesPicture">
            <img src="{% static 'media/ProfilePic.jpg' %}" height="100" width="100">
        </div>
        <div class="CoachesName">
            <p>"Coach Name"</p>
        </div>
        <div class="CoachesDescription">
            <p>"Coach description"</p>
        </div>
    </div>
</article>

<article class="Game2">
    <div class="CoteGauche">
        <div class="ImageGames">
            <img src="{% static 'media/Hearthstone.jpg' %}" height="486" width="864"> <!-- 45% d'une image 1920*1080 -->
        </div>
    </div>

    <div class="CoteDroit">
        <div class="GamesName">
            <p>HEARTHSTONE</p>
        </div>
        <div class="GamesDescription">
            <p>Hearthstone est un jeu de cartes à collectionner en ligne, développé et édité par la société Blizzard Entertainment. C'est un jeu gratuit s'inspirant de l'univers de fiction médiéval-fantastique du jeu vidéo Warcraft développé par Blizzard.</p>
        </div>
        <div class="TheCoaches">
            <p>THE COACHES</p>
        </div>
        <div class="CoachesPicture">
            <img src="{% static 'media/ProfilePic.jpg' %}" height="100" width="100">
        </div>
        <div class="CoachesName">
            <p>"Coach Name"</p>
        </div>
        <div class="CoachesDescription">
            <p>"Coach description"</p>
        </div>
    </div>
</article>

<div id="AfterGame"></div>

{% endblock %}

{% block scripts %}
{% endblock %}