{% extends 'base.html' %}
{% load static %}
{% block nom %} Change password | {% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'login.css' %}">
<link rel="stylesheet" href="{% static 'password_changed.css' %}">
<link rel="stylesheet" href="{% static 'fullcalendar.css' %}">

{% endblock %}

{% block content %}
    <div class="container">
        <div id="texte">
            <p>You have succesfully changed your password. Click the button below to get redirected to the home page.</p>
        </div>
        <div>
            <div class="buttoncenter">
                <div onclick="location.href='{% url 'home' %}';" class="buttonlog" id="button-2">
                    <div id="slide"></div>
                    <a class="buttonname" href="{% url 'home' %}">HOME</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>

</script>
{% endblock %}