{% extends 'base.html' %}
{% load static %}
{% block nom %} Reset password | {% endblock %}
{% block extrahead %}

<link rel="stylesheet" href="{% static 'password.css' %}">
<link rel="stylesheet" href="{% static 'signup.css' %}">

{% endblock %}

{% block content %}
    <div class="container2">
        <div id="Text">
            <p>Forgotten your password ? Enter your email address below, and we'll email instructions for setting a new one.</p>
            <br>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="input-field">
                {{form.email}}
               <label>ENTER YOUR EMAIL</label>
            </div>
                <button name="Send email" type="Submit" id="btnValidate" value="Validate" >SUBMIT</button>
            </form>
    </div>
{% endblock %}

